
/*重置*/
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,button,input,textarea,th,td{margin:0; padding:0; outline: 0;}
body{background-color:#fff; color:#333; font-family:Microsoft YaHei;}
em{font-style:normal;}
ul,ol{list-style:none;}
a{color:#333; text-decoration:none; outline:none;}
a:hover{text-decoration:none;}
img{border:0;}
table{border-collapse:collapse; border-spacing:0;}
th{text-align:left;}

/*浮动*/
.left{float:left;}
.right{float:right;}
.clearfix:after{visibility: hidden; display: block; clear: both; height: 0; font-size: 0; content: ".";}
.clearfix{zoom:1;}
html,body{height:100%;}
.hide{display:none !important;}
.relative{position:relative;}
.absolute{position:absolute;}
.hidden{visibility: hidden;}

